window {
    margin: 0px;
    background-color: #282828;
    border-radius: 30px;
    border: 2px solid #282828;
}

#input {
    margin: 5px;
    border: none;
    color: #ebdbb2;
    background-color: #14151B;
    border-radius: 30px;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: #282828;
    border-radius: 30px;
}

#outer-box {
    margin: 15px;
    border: none;
    background-color: #282828;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #ebdbb2;
} 

#entry:selected {
    background-color: #1d2021;
    border-radius: 20px;
    outline: none;
}

#entry:selected * {
    background-color: #1d2021;
    border-radius: 20px;
    outline: none;
}
