window {
	font-family: "Terminess Nerd Font";
	font-size: 9pt;
	font-weight: 600;
    margin: 0px;
    background-color: rgba(34, 30, 30, 1);
    border-radius: 30px;
    border: 2px solid rgba(34, 30, 30, 0.9);
}

#input {
    margin: 5px;
    border: none;
    color: #DBC6C2;
    background-color: #181515;
    border-radius: 30px;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: rgba(34, 30, 30, 0.9);
    border-radius: 30px;
}

#outer-box {
    margin: 15px;
    border: none;
    background-color: rgba(34, 30, 30, 0.9);
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #DBC6C2;
} 

#entry:selected {
    background-color: #403939;
    border-radius: 20px;
    outline: none;
}

#entry:selected * {
    background-color: #403939;
    border-radius: 20px;
    outline: none;
}
